<!--
  Generated template for the QuotationFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      Quotation
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-slides #signupSlider pager>

    <ion-slide>
      <ion-list>

        <form [formGroup]="slideOneForm">
          <ion-item>
            <ion-label>Type</ion-label>
            <ion-select formControlName="categ">
              <ion-option value="Graphic Design" checked="true">Graphic Design</ion-option>
              <ion-option value="Web Development">Web Development</ion-option>
            </ion-select>
          </ion-item>
        </form>

      </ion-list>

    </ion-slide>

    <ion-slide *ngIf="slideOneForm.value.categ == 'Web Development'">

      <ion-list no-lines >

        <form [formGroup]="slideTwoForm">

          <ion-item>
            <ion-label floating>Project Name</ion-label>
            <ion-input [class.invalid]="!slideTwoForm.controls.name.valid && (slideTwoForm.controls.name.dirtyty || submitAttempt)" formControlName="name" type="text"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideTwoForm.controls.name.valid && !slideTwoForm.controls.name.pending && (slideTwoForm.controls.name.dirty || submitAttempt)">
            <p>Sorry, that name can not be used!</p>
          </ion-item>

          <ion-item>
            <ion-label floating>Project Description</ion-label>
            <ion-textarea formControlName="desc" [class.invalid]="!slideTwoForm.controls.desc.valid && (slideTwoForm.controls.desc.dirty || submitAttempt)" ></ion-textarea>
          </ion-item>

          <ion-item *ngIf="!slideTwoForm.controls.desc.valid && !slideTwoForm.controls.desc.pending && (slideTwoForm.controls.desc.dirty || submitAttempt)">
            <p>Entering Description is required!</p>
          </ion-item>

          <ion-item>
            <ion-label>Web Type:</ion-label>
            <ion-select [class.invalid]="!slideTwoForm.controls.subtype.valid && (slideTwoForm.controls.subtype.dirty || submitAttempt)" formControlName="subtype">
              <ion-option value="Website" checked="true">Website</ion-option>
              <ion-option value="Blog">Blog</ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="!slideTwoForm.controls.subtype.valid  && (slideTwoForm.controls.subtype.dirty || submitAttempt)">
            <p>Choosing a type is required!</p>
          </ion-item>


        </form>

      </ion-list>

      <button ion-button full color="primary" (click)="save()">Create Account!</button>

    </ion-slide>

    <ion-slide *ngIf="slideOneForm.value.categ == 'Graphic Design'">

      <ion-list no-lines >

        <form [formGroup]="slideTwoForm">

          <ion-item>
            <ion-label floating>Project Name</ion-label>
            <ion-input [class.invalid]="!slideTwoForm.controls.name.valid && (slideTwoForm.controls.name.dirty || submitAttempt)" formControlName="name" type="text"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideTwoForm.controls.name.valid && !slideTwoForm.controls.name.pending && (slideTwoForm.controls.name.dirty || submitAttempt)">
            <p>Sorry, that name can not be used!</p>
          </ion-item>

          <ion-item>
            <ion-label floating>Project Description</ion-label>
            <ion-textarea formControlName="desc" [class.invalid]="!slideTwoForm.controls.desc.valid && (slideTwoForm.controls.desc.dirty || submitAttempt)" ></ion-textarea>
          </ion-item>

          <ion-item *ngIf="!slideTwoForm.controls.desc.valid && !slideTwoForm.controls.desc.pending && (slideTwoForm.controls.desc.dirty || submitAttempt)">
            <p>Entering Description is required!</p>
          </ion-item>

          <ion-item>
            <ion-label>Graphic Type:</ion-label>
            <ion-select [class.invalid]="!slideTwoForm.controls.subtype.valid && (slideTwoForm.controls.subtype.dirty || submitAttempt)" formControlName="subtype">
              <ion-option value="Logo" checked="true">Logo</ion-option>
              <ion-option value="Full Branding">Full Branding</ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="!slideTwoForm.controls.subtype.valid  && (slideTwoForm.controls.subtype.dirty || submitAttempt)">
            <p>Choosing a type is required!</p>
          </ion-item>

        </form>

      </ion-list>

      <button ion-button full color="primary" (click)="save()">Create Account!</button>

    </ion-slide>


  </ion-slides>

</ion-content>
