<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Welcome, {{this.user.email}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages">
        {{p.title}}
      </button>
      <button ion-button round color="danger" align="center" (click)="signOut()">
        Sign Out
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
