<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>User</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding align-items-center>

  <ion-refresher>
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <button ion-button full (click)="goToQuotation()">Quotation Form</button>

  <ion-card *ngFor="let quotation of this.quotations">
    <ion-card-content>
      <ion-card-title>{{quotation.name}}</ion-card-title>
      <ion-item>
        Client: {{quotation.email}}
        <br><br>
        Type: {{quotation.category}}
        <br><br>
        Sub-Type: {{quotation.type}}
        <br><br>
        Description: <br>{{quotation.desc}}
        <br><br>
        Price: {{quotation.price}}
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
