<!--
  Generated template for the AdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Admin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher>
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card *ngFor="let quotation of this.quotations">
      <ion-card-content>
        <ion-card-title>{{quotation.name}}</ion-card-title>
        <ion-item>
          Client: {{quotation.email}}
          <br><br>
          Type: {{quotation.category}}
          <br><br>
          Sub-Type: {{quotation.type}}
          <br><br>
          Description: <br>{{quotation.desc}}
          <br><br>
        </ion-item>
        <ion-item>
          <ion-input type="number" [(ngModel)]="price" placeholder="Price"></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button full (click)="setPrice(quotation)">Set Price</button>
        </ion-item>
      </ion-card-content>
    </ion-card>

</ion-content>
